@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-accent: #6366F1;
}

body {
  color: white;
  background-color: #0d0d12;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
