@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-accent: #1863dc;
}

body {
  color: #212121; /* ink */
  background-color: #ffffff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
